[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
mariadb = "*"
falcon = "*"
redis = "*"
redis-connector = {path = "./redis_connector"}
loop-resources = {path = "./loop_resources"}

[dev-packages]

[requires]
python_version = "3.9"
